{% extends "blog/base.html" %}
{% block style %}
.content-section-gujarat{
  width:75%;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
}
{% endblock style %}
{% block content %}
<section>

  {% for hospital in gujarat %}
  <article class="content-section media border">
    <img class="blog-inner-part-img rounded mx-auto d-block" src="{{ hospital.img.url }}"style:"border-radius:20px;">
    <div class="media-body mx-4">
      <div class="article-metadata">
        <h2><a class="article-title" href="{% url 'gujarat_detail' hospital.id %}">{{ hospital.title }}</a></h2>
      </div>
      <p class="article-content">{{ hospital.content }}</p>
      
      <small>{{hospital.address}}</small>
      <br><small>{{hospital.phone_number}}</small>
      <br>
      <a class="btn btn-primary btn-lg" href="{{hospital.link}}">Read more</a>
      <a class="btn btn-primary btn-lg" href="{% url 'gujarat_detail' hospital.id %}">Book Now</a>
    </div>
  
  </article>
  {% endfor %}
  
  <div class="text-center page">
    {% if is_paginated %}
  
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Prev</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
        href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
  
      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
  
      {% endif %}
  </div>
</section>

{% endblock content %}